.page-6-bg{
	width: 100%;
	height: 80%;
	position: absolute;
	top: 6%;
	/*background: yellow;*/
}
.page-6-img{
	width: 48%;
	height: 48%;
	position: absolute;
	/*background: green;*/
	opacity: 0;
}
.page-6-img1{
	left: -50%;
	top: 1%;
	background: url(../image/shu2.jpg) 64% center no-repeat;
	background-size: auto 100%;
}
.page-6-img2{
	right: -50%;
	top: 1%;
	background: url(../image/shu1.jpg) 53% center no-repeat;
	background-size: auto 100%;
}
.page-6-img3{
	left: 1%;
	bottom: -50%;
	background: url(../image/shu3.jpg) 75% center no-repeat;
	background-size: auto 100%;
}
.page-6-img4{
	background: url(../image/page-6-editor.png) center center no-repeat;
	    background-size: 37% 80%;
	bottom: 1%;
	right: 1%;
}
.page-6-1{
	animation-name: page-6-1;
	animation-timing-function: linear;
}
.page-6-2{
	animation-name: page-6-2;
	animation-timing-function: linear;
}
.page-6-3{
	animation-name: page-6-3;
	animation-timing-function: linear;
}
.page-6-4{
	animation-name: page-6-4;
	animation-timing-function: linear;
}
@keyframes page-6-1{
	from{left: -50%;opacity: 0;}
	to{left: 1%;opacity: 1;}
}
@keyframes page-6-2{
	from{right: -50%;opacity: 0;}
	to{right: 1%;opacity: 1;}
}
@keyframes page-6-3{
	from{bottom: -50%;opacity: 0;}
	to{bottom: 1%;opacity: 1;}
}
@keyframes page-6-4{
	from{opacity: 0;}
	to{opacity: 1;}
}