.index ul, .index li{
	margin: 0;
	padding: 0;
}
.index-hide{
	display: none;
}
.index-nav{
	flex-direction: row
}
.index-nav .index-nav-item{
	text-align: center;
	box-sizing: content-box;
}
.index-space-r{
	width: 40px;
}
.index-nav-active{
	color: #fead15;
	position: relative;
}
.index-nav-active:before{
	display: inline-block;
    position: absolute;
    top: 32px;
    left: 0px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fead15;
}
.nav-icon-show{
	display: inline-block;
}
.index-icons-subnav span{
	margin-right: 10px;
}
.index-icons-subnav span:before{
	display: inline-block;
	position: relative;
	margin-right: 10px;
	top: -3px;
	left: 0px;
	content: "";
	width: 15px;
	height: 2px;
	background-color: #fead15;
}

@media only screen and (max-width: 1360px) {
 
 .rightmenu{
    height: 0px;
  }
  .social-icons-subnav span{
    display: none;
  }
  
}