body{
	text-align:center;
}
#frameTable{
	width:530px;
	height:530px;
	border-collapse: collapse;
	border: 1px solid #000;
	margin:0 auto
}
tr td{
	border: 1px solid #000;
	padding:0px;
}
input{
	margin-top:20px;
	width:100px;
	height:30px;
}